@model List<EntityLayer.Entities.Urun>


<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">En Çok Satan</h2>
                    <a href="/Urun/PopulerUrunler" class="wid-view-more">Hepsini Görüntüle</a>

                    @foreach (var item in Model)
                    {
                        <div class="single-wid-product">


                            <a href="/Urun/PopulerUrunler"><img src="~/Content/Image/@item.Resim" alt="" style="width:100px;height:100px" class="product-thumb"></a>
                            <h2>@item.Ad</h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>@item.Fiyat</ins>
                            </div>

                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>

<!-- End product widget area -->
@*<div class="col-md-4">
        <div class="single-product-widget">
            <h2 class="product-wid-title">Top Sellers</h2>
            <a href="" class="wid-view-more">View All</a>
            <div class="single-wid-product">
                <a href="single-product.html"><img src="img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                <h2><a href="single-product.html">Sony Smart TV - 2015</a></h2>
                <div class="product-wid-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                    <ins>$400.00</ins> <del>$425.00</del>
                </div>
            </div>

        </div>
    </div>*@

